.container-fluid{
    background-color: rgb(151, 151, 211);
    /* heADER */
    color:#ddd
}
body{
    background-color: #e6ecf3;
    color:azure;
}
.cards-div{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    justify-content:center;
    margin-top:30px;
}
.card{
    border:1px solid #ddd;
    border-radius:10px;
    padding:20px;
    width:280px;
    display:flex;
    flex-direction: column ;
    align-items: center;
    text-align: center;
    background-color: #B7D5E8;
    color:#26557c;
    font-family:"Instrument Serif", serif;
    font-size: 25px
}
.card-img img{
    max-width: 100%;
    height: 200px;
    object-fit:contain;
    margin-bottom:15px;
}

.name-page{
    background: linear-gradient(90deg, #70CFFF 9.62%, #A6CFFF 71.15%, #FFFFFF 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


