.container-fluid{
    background-color: rgb(151, 151, 211);
    /* heADER */
    color:#ddd
}
body{
    background-color: #e6ecf3;
    color:azure;
}
.navbar-brand{
    color:azure;

}
.nav-link{
    color:azure;

}
.nav-item{
    color:azure;

}
.active{
    color:rgb(163, 226, 226);
}
.cards-div{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    justify-content:center;
    margin-top:30px;
}
.card{
    border:1px solid #ddd;
    border-radius:10px;
    padding:20px;
    width:280px;
    display:flex;
    flex-direction: column ;
    align-items: center;
    text-align: center;
    background-image: radial-gradient(ellipse at 30% 20%, #cac6e9, #919bd6);
    color:#254c94;
    font-family:"Instrument Serif", serif;
    font-size: 25px
}
.card:focus {
  box-shadow: #64d1d4 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #64d1d4 0 -3px 0 inset;
}

.card:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #64d1d4 0 -3px 0 inset;
  transform: translateY(-2px);
}

.card:active {
  box-shadow: #64d1d4 0 3px 7px inset;
  transform: translateY(2px);
}
.card-img img{
    max-width: 100%;
    height: 200px;
    object-fit:contain;
    margin-bottom:15px;
}

.name-page{
    background: linear-gradient(90deg, #70CFFF 9.62%, #A6CFFF 71.15%, #FFFFFF 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top:20px;
    margin-bottom:20px;
}
.cart-product{
    border:1px solid #ddd;
    border-radius:10px;
    padding:20px;
    width:280px;
    display:flex;
    flex-direction: column ;
    align-items: center;
    text-align: center;
    background-image: radial-gradient(ellipse at 30% 20%, #cac6e9, #919bd6);
    color:#254c94;
    font-family:"Instrument Serif", serif;
    font-size: 25px;
    margin-bottom: 20px;

}
.cart-product:focus {
  box-shadow: #64d1d4 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #64d1d4 0 -3px 0 inset;
}

.cart-product:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #64d1d4 0 -3px 0 inset;
  transform: translateY(-2px);
}

.cart-product:active {
  box-shadow: #64d1d4 0 3px 7px inset;
  transform: translateY(2px);
}
.quantity-input{
    width:50px;
    background: conic-gradient(90deg, #70CFFF 9.62%, #A6CFFF 71.15%, #FFFFFF 100%);
    border:1px solid #ddd;
    border-radius:10px;

}

.cart-products{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    justify-content:center;
    margin-top:30px;
}
/* CSS */
.order-btn {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #8c67e4 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.order-btn:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.order-btn:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.order-btn:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
.name-total{
    background: linear-gradient(90deg, #70CFFF 9.62%, #A6CFFF 71.15%, #FFFFFF 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top:20px;
    margin-bottom:20px;
    height:40px;
    font-size:30px;
    color:azure;
}
.p_kosh{
  color:rgb(65, 141, 141);
}